<form id="product-{{ product.id }}-delete" class="modal product-delete" data-id="{{ product.id }}">
    <div class="modal-content">
        <h4>Wilt u dit product verwijderen?</h4>
    </div>
    <div class="modal-footer">
        <button class="btn blue accent-4 waves-effect waves-light mr-2">Ja</button>
        <button class="btn blue accent-4 waves-effect waves-light modal-close" type="button">Nee</button>
    </div>
</form>
