<form id="template-{{ template.id }}-delete" class="modal template-delete" data-id="{{ template.id }}">
    <div class="modal-content">
        <h4>Are you sure?</h4>
    </div>
    <div class="modal-footer">
        <button class="btn blue accent-4 waves-effect waves-light">Yes</button>
        <button class="btn blue accent-4 waves-effect waves-light modal-close" type="button">No</button>
    </div>
</form>
