{% extends "partials/base.twig" %}
{% set title = "Producten" %}
{% set page_script = "/assets/js/dashboard.js" %}
{% set page_css = "/assets/css/dashboard.css" %}

{% block content %}
    <div class="row">
        {% include 'dashboard/create.twig' %}

        {% for product in products %}
            {% include 'dashboard/view.twig' %}
        {% endfor %}
    </div>
{% endblock %}
