{% extends "partials/base.twig" %}
{% set title = "CubeQuence" %}
{% set page_script = "/assets/js/dashboard.js" %}

{% block content %}
<h3>Sluijterkappers Producten!</h3>
<pre>{{ products|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
{% endblock %}
