<form id="review-{{ review.id }}-delete" class="modal review-delete" data-id="{{ review.id }}">
    <div class="modal-content">
        <h4>Wilt u deze review verwijderen?</h4>
    </div>
    <div class="modal-footer">
        <button class="btn blue accent-4 waves-effect waves-light mr-2">Ja</button>
        <button class="btn blue accent-4 waves-effect waves-light modal-close" type="button">Nee</button>
    </div>
</form>
